Reference: <br>
https://www.tensorflow.org/tutorials/keras/regression?hl=ja <br>
https://archive.ics.uci.edu/ml/datasets/glass+identification

In [2]:
import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras

In [3]:
dataset_path = keras.utils.get_file("glass.data", "https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data")

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data
16384/11903 [=========================================] - 0s 0us/step

In [4]:
column_names = ['Id number','RI','Na','Mg','Al','Si', 'K', 'Ca','Ba', 'Fe', 'Type of glass'] 
raw_dataset = pd.read_csv(dataset_path, names = column_names,na_values = "?", comment = '\t',sep=",", skipinitialspace=True)

dataset = raw_dataset.copy()
print(dataset.shape)
dataset.head()

(214, 11)

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [5]:
u = dataset['Type of glass'].nunique()
print(u)

6

In [6]:
dataset.to_csv('glass.csv')